BASE_URL=http://127.0.0.1:8000
HEADLESS=false

# Update these to real seeded users in your DB
EMP_EMAIL=hr1@x.com
EMP_PASSWORD=hr1@x.com

MGR_EMAIL=fati.azizz706@gmail.com
MGR_PASSWORD=01230123

ADM_EMAIL=maria@x.com
ADM_PASSWORD=maria@x.com
